
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* sheared style */
.fon-open-sans{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;}

  .logo h2{
     font-size: 45px;
     font-weight: 900px;
  }
   .clolor-orange{
    color: #FD6E0A;
   }

   .btn{
    background-color: #FD6E0A;
    border: none;
    border-radius: 5gitpx;
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 18px 50px;
   }


  /* main style */
header{
    background-color: #FFF8F3;
    padding-top: 50px;
}
nav{
    width: 71%;
    max-width: 1140px;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
}

nav .manu{
    display: flex;
    list-style: none;
    gap: 52px;
    align-items: center;
}

nav .manu a{
    font-size: 20px;
    color: #474747;
    text-decoration: none;
}